html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  text-size-adjust: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: inherit;
  text-rendering: optimizelegibility;
}

.layout {
  margin: 0;
  padding: 0;
  width: 100%;
}
