<!DOCTYPE html>
<html lang="en" data-uri="{{ default _ref _self }}" data-layout-uri="{{ default _ref _layoutRef }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <!-- data-editable="head" -->
      {{> component-list head }}
    <!-- data-editable-end -->
  </head>
  <body class="layout">
    <section class="main" data-editable="main">
      {{> component-list main }}
    </section>
    <footer class="foot" data-editable="main">
      {{> component-list foot }}
    </footer>

    {{> component-list kiln }}
  </body>
</html>
